<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/style.css"
    <title>Datos Personales de trabajadores en Restaurante Doña S</title>
</head>
<body class="body1">
    
    <div id="general">
        
        
        
        

        <center><fieldset style="width: 500px" class="formulario">
            <center><strong> <legend> Datos personales del trabajador </legend>  </center></strong><br> 
        <label for="">Nombre</label>
        <input type="text" name="nombre"> <br> <br> 
        
        <label for="">Apellido </label>
        <input type="text" name="apellido"> <br><br>

        <label for="">Telefono</label>
        <input type="number" name="Telefono"> <br><br>

        <label for="">Direccion </label>
        <input type="text" name="Direccion"> <br><br>

        <label for="">Ciudad</label>

        <select name="" id="">

        <option value="">Medellin</option>

        <option value="">Envigado</option>

        <option value="">Sabaneta</option>

        <option value="">Bello</option>
        <option value="">Belen</option>
        <option value="">Itagui</option>
        <option value="">Caldas</option>
        <option value="">La Ceja</option>
        <option value="">Girardota</option>
        <option value="">Copacabana</option>
       
    </select><br><br>

        <label for="">Correo electronico</label>
        <input type="email" name="correo electronico" required=""><br><br>

        
    <input type="button" value="Enviar formulario">
    <input type="reset" value="Borrar todo">
    

    </fieldset> 



</body>
</html>
</body>
</html>